name: BUILD

on:
  push:
    paths:
      - '**'
      - '!README.md'
      - '!/build-aur-action-image/**'
    branches:
      - main
  pull_request:
    paths:
      - '**'
      - '!README.md'
      - '!/build-aur-action-image/**'
    branches:
      - main
  schedule:
    - cron:  '0 4 * * *'
  workflow_dispatch:
    inputs:
      upload:
        description: 'Upload built packages to Remote storage'
        required: true
        type: boolean
        default: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/build-aur-action-image

jobs:
  checkVersion:
    outputs:
      updates: ${{ steps.check-updates.outputs.updates }}
      sha: ${{ steps.commit-versions.outputs.sha }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install nvchecker
      run: pip3 install nvchecker

    - name: Setup git
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
    
    - name: Check for new versions
      id: check-updates
      run: |
        nvchecker -c nvchecker/nvchecker.toml
        echo "updates=$(nvcmp -c nvchecker/nvchecker.toml -q -j)" >> $GITHUB_OUTPUT

    - name: Commit version records
      id: commit-versions
      if: ${{ steps.check-updates.outputs.updates != '[]' }}
      run: |
        git add nvchecker/new_ver.json
        git commit -m "Update version records"
        git push
        echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

  buildAUR:
    needs: [checkVersion]
    strategy:
      matrix:
        repos: ${{ fromJson(needs.checkVersion.outputs.updates) }}
        preinstall-pkgs: ['']

      fail-fast: true
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - run: |
        docker run --rm \
        -v ${{ github.workspace }}:/workspace \
        -w /workspace \
        -e PREINSTALL_PKGS=${{ matrix.preinstall-pkgs }} \
        ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest ${{matrix.repos}}
    
    - uses: actions/upload-artifact@v4
      with:
        path: ./*.pkg.*
        name: ${{ matrix.repos }}
        if-no-files-found: error
          
  updateVersion:
    needs: [checkVersion, buildAUR]
    if: needs.checkVersion.outputs.updates != '[]'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ needs.checkVersion.outputs.sha }}

    - name: Install nvchecker
      run: pip3 install nvchecker
    
    - name: Setup git
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
    
    - name: Update version records
      run: |
        nvtake -c nvchecker/nvchecker.toml --all

    - name: Commit updated version records
      run: |
        git add nvchecker/old_ver.json
        git commit -m "Update version records after successful build"
        git push

  uploadToOneDrive:      
    permissions:
      contents: write
    if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && inputs.upload == 'true') || github.event_name == 'schedule'
    runs-on: ubuntu-latest
    needs: [buildAUR]

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        id: download

      - name: Display structure of downloaded files
        run: ls -R ${{ steps.download.outputs.download-path }}
      
      - uses: ./create-db-and-upload-action
        with:
          RCLONE_CONFIG_CONTENT: ${{ secrets.RCLONE_CONFIG }}
          RCLONE_CONFIG_NAME: ${{ secrets.RCLONE_CONFIG_NAME }}
          dest_path: ${{ vars.REMOTE_PATH }}
          repo_name: ${{ vars.REPO_NAME }}
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          local_path: ${{ steps.download.outputs.download-path }}

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          commit: "${{ github.ref_name }}"
          tag: "packages"
          artifacts: "./upload_packages/*"
          removeArtifacts: true
