name: BUILD

on:
  push:
    paths:
      - '**'
      - '!README.md'
      - '!/build-aur-action-image/**'
    branches:
      - main
  pull_request:
    paths:
      - '**'
      - '!README.md'
      - '!/build-aur-action-image/**'
    branches:
      - main
  schedule:
    - cron:  '0 4 * * *'
  workflow_dispatch:
    inputs:
      upload:
        description: 'Upload built packages to Remote storage'
        required: true
        type: boolean
        default: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/build-aur-action-image

jobs:
  checkVersion:
    outputs:
      updates: ${{ steps.check-updates.outputs.updates }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache nvchecker version record files
      id: cache-nvchecker
      uses: actions/cache@v4
      with:
        path: .cache/nvchecker
        key: 0-${{ github.ref }}-nvchecker
    
    - name: Install nvchecker
      run: pip3 install nvchecker
    
    - name: Check for new versions
      id: check-updates
      run: |
        mkdir -p .cache/nvchecker
        nvchecker -c nvchecker.toml
        echo "updates=$(nvcmp -c nvchecker.toml -q -j)" >> $GITHUB_OUTPUT

  buildAUR:
    needs: [checkVersion]
    strategy:
      matrix:
        repos: ${{ fromJson(needs.checkVersion.outputs.updates) }}
        preinstall-pkgs: ['']

      fail-fast: true
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - run: |
        docker run --rm \
        -v ${{ github.workspace }}:/workspace \
        -w /workspace \
        -e PREINSTALL_PKGS=${{ matrix.preinstall-pkgs }} \
        ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest ${{matrix.repos}}
    
    - uses: actions/upload-artifact@v4
      with:
        path: ./*.pkg.*
        name: ${{ matrix.repos }}
        if-no-files-found: error
          
  updateVersion:
    needs: [buildAUR]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache nvchecker version record files
      id: cache-nvchecker
      uses: actions/cache@v4
      with:
        path: .cache/nvchecker
        key: 0-${{ github.ref }}-nvchecker
        fail-on-cache-miss: true
    
    - name: Install nvchecker
      run: pip3 install nvchecker
    
    - name: Update version records
      run: nvtake -c nvchecker.toml --all

  uploadToOneDrive:      
    permissions:
      contents: write
    if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && inputs.upload == 'true')
    runs-on: ubuntu-latest
    needs: [buildAUR]

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        id: download

      - name: Display structure of downloaded files
        run: ls -R ${{ steps.download.outputs.download-path }}
      
      - uses: ./create-db-and-upload-action
        with:
          RCLONE_CONFIG_CONTENT: ${{ secrets.RCLONE_CONFIG }}
          RCLONE_CONFIG_NAME: ${{ secrets.RCLONE_CONFIG_NAME }}
          dest_path: ${{ vars.REMOTE_PATH }}
          repo_name: ${{ vars.REPO_NAME }}
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          local_path: ${{ steps.download.outputs.download-path }}

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          commit: "${{ github.ref_name }}"
          tag: "packages"
          artifacts: "./upload_packages/*"
          removeArtifacts: true
